<h1>Dê seu feedback sobre <%= @user_feedback.user.email %></h1>
<div>
    <dl>
        <dt>Nota: </dt><dd><%= @user_feedback.rate %></dd>
        <dt>Comentários: </dt><dd><%= @user_feedback.comment %></dd>
    </dl>
</div>
<div><%= link_to 'Voltar para projeto', job_path(@user_feedback.job) %></div>