<h1>Dê seu feedback sobre <%= @worker_feedback.worker.full_name %></h1>
<div>
    <dl>
        <dt>Nota: </dt><dd><%= @worker_feedback.rate %></dd>
        <dt>Comentários: </dt><dd><%= @worker_feedback.comment %></dd>
    </dl>
</div>
<div><%= link_to 'Voltar para projeto', job_path(@worker_feedback.application.job) %></div>