<h1>Seus projetos</h1>
<div>
    <% if @jobs.empty? %>
        <p>Você ainda não possui projetos cadastrados.</p>
        <p><%= link_to 'Cadastre um projeto', new_job_path %></p>
    <% else %>
        <% @jobs.each do |job| %>
            <p><%= link_to job.title, job_path(job) %></p>
            <p>Pagamento por hora: <%= number_to_currency(job.payment) %></p>
            <p><%= l job.deadline, format: :simple %></p>
        <% end %>
    <% end %>
</div>