<% if @jobs.empty? %>
    <p>Você ainda não possui projetos cadastrados.</p>
    <p><%= link_to 'Cadastre um projeto', new_job_path %></p>
<% else %>
    <%= render "jobs/jobs", jobs: @jobs %>
<% end %>