<div style="margin: 50px"><h1>Resultado da sua busca:</h1></div>
<div style="background-color: #252540; font-size: 20px">
    <%= link_to 'Ver todos os projeto', job_list_path %>
</div>
<div style="margin: 30px; max-width: 50%">
    <% if @jobs.any? %>
        <% @jobs.each do |job| %>
            <% if job.Contratando? %>
                <div style="border-style: solid; border-color: #888888; border-width: 2px; margin-bottom: -2px">
                    <dl>
                        <dt></dt><dd style="font-size: 20px"><%= link_to job.title, job_path(job) %></dd>
                        <dt>Pagamento por hora: </dt><dd><%= number_to_currency(job.payment) %></dd>
                        <dt>Data limite: </dt><dd><%= l job.deadline, format: :simple %></dd>
                    </dl>
                </div>
            <% end %>
        <% end %>
    <% else %>
        <p>Não há projetos disponíveis no momento.</p>
    <% end %>
</div>