<div>
    <h1>Freelancers</h1>
    <p>Boas vindas ao sistema de contratação de freelancers!</p>
</div>
</div>
    <h2><%= link_to 'Encontre projetos' %></h2>
    <h2><%= link_to 'Encontre profissionais' %></h2>
</div>