<div>
    <h1>Freelancers</h1>
    <p>Boas vindas ao sistema de contratação de freelancers!</p>
</div>
</div>
    <p><%= link_to 'Encontre projetos' %></p>
    <p><%= link_to 'Encontre profissionais' %></p>
</div>