<div><h1>Lista de profissionais</h1></div>
<div>
    <% if @workers.any? %>
        <% @workers.each do |worker| %>
            <% if worker.social_name.present? && worker.full_name.present? && worker.birth_date.present? && worker.description.present? && worker.education.present? && worker.experience.present? %>
                <dl>
                    <dt>Nome: </dt><dd><%= link_to worker.social_name, worker_path(worker) %></dd>
                    <dt>Descrição: </dt><dd><%= worker.description %></dd>
                    <dt>Contato: </dt><dd><%= worker.email %></dd>
                </dl>
            <% end %>
        <% end %>
    <% else %>
        <p>Ainda não há profissionais listados.</p>
    <% end %>
</div>